<html>
    <head>

        <title>
          
             <%= title %>

        </title>
        <script src="https://kit.fontawesome.com/0eff3d4dd2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
        
        
    </head>

    <body>
        <h1 id="page-head">
            <i class="fas fa-address-book"></i>
            My Contact Lists</h1>
       <div id="contact_List">
        <div id="contact" >

            <ul>
                <%for(let i of contact_List){%>
                    <li>
                        <div id="info">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                        </div>

                        <div class="delete-Button">

                            <a href="/delete-contact/?id=<%=i.id %>">
                                <i class="fas fa-window-close"></i>
                            </a>
                            
                        </div>
                    </li>
                <%}%>
            </ul>
        </div>
    
        <form action="/create-contact" method="POST" id="input-from">
           <div>
            <input type="text" name="name" placeholder="Entre Name" required>
            <input type="number" name="phone" placeholder="Entre Phone" required>
        </div>
        <div>
            <button type="submit">Add Contact</button>
        </div>
           
            
        </form>

    </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>